  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;    
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #108a00;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0f8000; 
  }
  
  .custom-scrollbar {
    scrollbar-color: #108a00 #f1f1f1;
    scrollbar-width: thin;
  }